.App {
  width: 80%;
  margin: auto;
}

img {
  width: 50%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  object-position: center;
}

.title-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 5%;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5%;
}

p {
  font-size: 2rem;
}

button {
  width: 33.333%;
  padding: 0.5rem 1rem;
}

button:hover {
  cursor: pointer;
}